@model List<JobAdvertisement>
@{
    ViewData["Title"] = "Active Job Advertisemets";
    Layout = "~/Views/Shared/JobSeekerLayout.cshtml";
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/css/adminlte.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<p class="text-center">
    DataTable
    <div class="card-body">
        <table id="table_id" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Ad Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                <tr>
                    <td>@element.CompanyName</td>
                    <td>
                        @element.JobTitle
                    </td>
                    <td>@element.JobAdvertisementId</td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</p>

@section Scripts
    {
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "bFilter": false,
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script> }