@model UI_Layer__MVC_.Models.Skill
@{
    ViewData["Title"] = "Edit Skill";
    Layout = "~/Views/Shared/JobSeekerLayout.cshtml";
}

<form action="@Url.Action("EditSkill", "Skills")" method="post">
    <div class="input-group mb-3">
        <div class="col-md-6 offset-md-3">
            <input asp-for="SkillName" type="text" class="form-control" placeholder="Type Skill Name">
            <input type="hidden" asp-for="SkillId" value=@Model.SkillId>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <div class="col align-self-center">
                <button type="submit" class="btn btn-info btn-block">Change Skill Name</button>
            </div>
        </div>
        </div>
</form>